.autoplay-carousel{
    color: #000000;
    margin-top: -64px;
    margin-left: 30px;
    margin-right: 30px;
    height: 350px;
    padding: 0px 10px;
    background-color: #fff
}
.autoplay-images{
    
    width: 127px;
    height: 180px;
}
.autoplay-images img{
    width: 127px;
    height: 180px;
    margin-left: 25%;
    margin-right: 25%;
}
.best-deals{
    font-size: 25px;
    line-height: 1.38;
    font-weight: 400;
    display: block;
    margin-left: 0px;
    margin-top: 80px;
    padding-top: 10px;
}
.slick-prev:before,
.slick-next:before {
 
  font-family: 'slick';
  font-size: 30px;
  line-height: 1;
  opacity: .75;
  background-color: rgba(128, 128, 128, 0.459);
  padding: 50px 0px;
  
}

.slick-prev
{
    left: -10px;
}
.slick-next{
    right: 0px;
}
