@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* ===================================================================
Header Component
====================================================================*/
nav {
  display: flex;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-content: space-between;
  text-align: center;
  padding: 15px 30px;
  z-index: 1;
}

nav .icon {
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  background-color: #fff;
}

nav .icon .logo {
  color: rgb(111, 111, 111);
  text-decoration: none;
}

nav ol {
  display: flex;
  list-style: none;
  margin: auto 0;
  background-color: #fff;
}

nav ol li {
  padding: 5px 10px;
  background-color: #fff;
}

nav ol li a {
  font-size: 15px;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0px 5px;
  color: #000;
  background-color: #fff;
}

nav .search-box {
  display: flex;
  margin: auto 0;
  height: 30px;
}

nav .search-box input {
  border: 1px solid #0a5071;
  outline: none;
  background: #fff;
  height: 100%;
  padding: 0 10px;
  font-size: 12px;
  /* border-radius: 4px; */
}

nav .search-box span {
  /* color: #0a5071; */
  font-size: 15px;
  left: -40px;
  height: 100%;
  padding: 11px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

nav .search-box span:hover {
  color: #0a5071;
}

nav .search-box span::after {
  height: 100%;
  width: 0%;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}

nav .search-box span:hover::after {
  width: 100%;
}

nav .bar {
  position: relative;
  margin: auto;
  display: none;
}

nav .bar span {
  position: absolute;
  color: #000;
  font-size: 25px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: none;
}

.icon-style {
  color: #000;
  top: 2px;
  background-color: #fff;
}

@media screen and (max-width: 1250px) {
  nav {
    display: block;
    display: 0;
  }

  nav .icon {
    display: inline-block;
    padding: 15px 30px;
  }

  nav .search-box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  nav ol {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 0;
    visibility: hidden;
    transition: 0.3s;
  }

  nav ol li {
    text-align: center;
    transition: 0.3s 0.1s all;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5px;
  }

  nav ol li a {
    color: #000;
    font-size: 12px;
    display: block;
    padding-top: 5px;
  }

  nav ol li:nth-child(1) {
    transform: translateX(-150px);
  }

  nav ol li:nth-child(2) {
    transform: translateX(-20px);
  }

  nav .bar {
    display: block;
    position: absolute;
    top: 20px;
    right: 80px;
    cursor: pointer;
  }

  nav .bar #times {
    display: none;
  }

  #check:checked ~ nav .bar #times {
    display: block;
  }

  #check:checked ~ nav .bar #bars {
    display: none;
  }

  #check:checked ~ nav ol {
    visibility: visible;
    height: fit-content;
  }

  #check:checked ~ nav ol li:nth-child(1),
  #check:checked ~ nav ol li:nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }

  .icon-style {
    color: #000;
    top: 2px;
    background-color: #fff;
  }
}

/* =====================================================================
   Dropdown with search bar
======================================================================*/
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid rgb(226, 226, 226);
  /* border-radius: 4px; */
  padding: 0px 30px 0px 15px;
  background-color: #b9b9b9;
  cursor: pointer;
  white-space: nowrap;
  font-size: 12px;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 5px 20px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 15px;
}

.dd-menu li a {
  text-decoration: none;
  color: #000;
}

.dd-menu li ul {
  display: none;
  position: absolute;
  list-style-type: none;
  top: -20px;
}

.dd-menu li:hover > ul {
  display: inherit;
}

.dd-menu li a:hover {
  /* background-color: #f6f6f6; */
  color: blue;
}

@media screen and (max-width: 1250px) {
  .dropdown {
    display: inline-block;
    position: relative;
    left: 0px;
  }
}

/*================================================================
Autocomplete
================================================================*/
input {
  border: 1px solid #999;
  padding: 8px;
  width: 300px;
}
.no-autocomplete {
  color: #999;
  padding: 8px;
}
.autocomplete {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  background: #fff;
}
.autocomplete li {
  padding: 8px;
  font-size: 13px;
  font-family: "Poppins";
  font-weight: 500;
  color: rgba(74, 74, 74, 0.853);
  text-align: left;
}
.autocomplete > .active,
.autocomplete li:hover {
  cursor: pointer;
  font-weight: 700;
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #d5d4d43d;
}
