@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap");

.sidebar {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
  }
  
  @media screen and (max-width: 1250px) {
    .sidebar {
      width: 150px;
      overflow-y: scroll;
      border-right: 1px solid #444941;
    }
  }

  /*====================================================
  Sortby Page CSS
  ====================================================*/
  .sortby {
    padding: 20px;
  }
  
  .sortby-head {
    padding: 10px;
    text-transform: capitalize;
    font-size: 15px !important;
    font-weight: 700 !important;
    font-family: "Roboto" !important;
  }
  
  .sortby-button {
    display: flex;
    flex-direction: row;
  }

  .filter-button-option {
    width: 100%;
   
  }

  /*====================================================
  BrandList Page CSS
  ====================================================*/
  
  .brand-head {
    margin: 5px 25px !important;
    text-transform: capitalize;
    font-size: 15px !important;
    font-weight: 700 !important;
    font-family: "Roboto" !important;
  }
  
  .brandname {
    margin: -5px 25px !important;
    text-transform: capitalize;
    display: flex;
  }
  
  .brandname-label {
    font-size: 13px !important;
    padding-top: 12px;
    margin-left: -20px !important;
  }
  
  /*====================================================
  Progress Page CSS
  ====================================================*/
  
  .progress-head {
    padding-top: 25px;
    padding-left: 25px;
    font-size: 15px !important;
    font-weight: 700 !important;
    font-family: "Roboto" !important;
  }
  
  .price-range {
    display: flex;
    justify-content: flex-start;
    margin: 0px 25px;
  }
  
  .outer {
    width: 50px;
    border: 1px solid #989898;
    text-align: center;
    height: 25px;
    border-radius: 2px;
    margin: 5px 10px;
  }
  
  .min-max {
    margin: 5px 0px!important;
  }
  
  .slider {
      width: 280px !important;
     margin: 0px 25px !important;
  }

.product-style {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 0px;
    width: 100%;
    height: 100%;
    gap: 20px
  }

.product-img {
    height: 200px;
    width: 100%;
    padding: 10px 10px;
}

.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 20px;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px 5px;
    font-size: 12px;
    border-radius: 5%;
    border: 1px solid #2b2eff; 
    background-color: #fff;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
    color: #2b2eff;
    cursor: pointer;
    text-decoration: none;
}

.paginationBttns a:hover {
    color: #fff !important;
    background-color: #2b2eff;
}

.paginationActive a {
    color: #fff !important;
    background-color: #2b2eff;
}


@media screen and (max-width: 1250px) {
  .product-style {
    display:grid;
    grid-template-columns: 1fr;
    padding: 20px 0px;
    margin-top: 10px;
    margin-left: 40px;
}
}