
.slider-2{
  color: black;
  margin-top: 6px;
  margin-left: 30px;
  margin-right: 30px;
  height: 350px;
  padding: 12px 10px;
  background-color: #fff;
}
.top-trending{
  font-size: 30px;
    line-height: 1.38;
    font-weight: 400;
    display: block;
    margin-left: 0px;
    margin-top: 80px;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
}
hr{
  color: #dfe3e4;
}
.display-image{
  
  height: 180px;
  width: 133px;
}
.display-image img{
  width: 133px;
  height: 180px;
 margin-left: 25%;
 margin-right: 25%;
}

.product-span{
  display: flex;
  flex-direction: column;
  margin-left: 25%;
 margin-right: 25%;
}
.span-header{
 margin: 5px 0;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25%;
 }
.span-rupee{
  margin: 0px 0;
  color: #000000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 25%;
}
@media(max-width:767px){
  .slider-2{
    color: black;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 30px;
    width: 350px;
    padding: 12px 10px;
    background-color: #fff;
  }
  .display-image{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 180px;
    width: 133px;
  }
  
}