@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap");

.wrapper {
  background: #c4c5c5;
  width: 70px;
  font-weight: 700 !important;
  font-family: "Roboto" !important;
  border: 1px solid #a2a2a2;
}

.dropdown-content {
  width: 100%;
  padding: 0px 10px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown-menu.show {
  margin-left: -20px;
}

.side-heading {
  position: sticky;
  width: 200px;
  display: flex;
  flex-direction: column !important;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.category {
  padding: 5px;
  font-size: 14px !important;
}

.category-link {
  color: #000;
  text-decoration: none;
}

.category-link:hover {
  color: rgb(166, 8, 8);
}

.sub-options {
  position: sticky;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 30vh;
  overflow-y: auto;
}

.sub-options-style {
  padding: 5px 20px;
  font-size: 14px !important;
}

@media screen and (max-width: 1250px) {
  .dropdown-menu.show {
    width: 335px;
    margin-left: 0px;
  }
  .sub-options {
    position: sticky;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 30vh;
    overflow-y: auto;
  }
  .side-heading {
    width: 150px;
    display: flex;
    flex-direction: column !important;
    overflow-y: auto;
    border-right: 1px solid #a2a2a2;
  }
}
