#product-dropdown {
    width: 700px !important;
    height: fit-content;
    background-color: #fff !important;
    left: 8px !important;
    display: inline-block;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.col-1 {
    display: flex;
    flex-direction: row;
}

.heading {
    font-size: 14px !important;
    font-weight: bold;
    margin-top: 20px !important;
}

.para {
    margin-top: 30px !important;
    font-size: 14px !important;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1250px) {
    #product-dropdown {
        width: 450px !important;
    }
}

@media screen and (max-width: 400px) {
    #product-dropdown {
        width: 150px !important;
    }
}