
* {
  font-family: sans-serif;
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  
}
.App{
  padding-left: 110px;
}
.user-input {
  width: 600px;
    padding: 5px 20px;
    background: rgb(255 255 255);
    border: solid 2px rgba(255,255,255,.3);
    background-clip: padding-box;
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
    color: black;
    margin-top: 9px;
    margin-left: 0px;
}
.suggestions-list {
    display: block; 
    position: absolute;
    background: rgba( 255, 255, 255, 0.1 );
    border: solid 2px rgba(255,255,255,.3);
    
    -webkit-backdrop-filter: blur( 4px );
    backdrop-filter: blur( 4px );
   
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    
    z-index: 1;
    list-style: none;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  width: 598px;
    left: 288px
}
.suggestion {
    background-color: #ffffff;
  padding: 10px;
  color: rgb(65, 65, 65);
  cursor: pointer;
  
    /*position:relative;
    color:#ecf0f1;
    border-radius: 4px;
    background: rgba( 255, 255, 255, 0.1 );
    border: solid 2px rgba(255,255,255,.3);
    background-clip: padding-box;
    backdrop-filter: blur( 4px );
     display: flex;
     margin: 0px;    
     justify-content: center;
     flex-direction: row;
     max-width: 1600px;
     height: 100%;
     cursor: pointer;
     
    
    left: 10.5%;*/
}
.suggestion:hover {
  background-color: rgb(65, 159, 236);
}
.selected {
  background-color: #ffffff;
  color: black;
}
.image-cover{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  object-position: center right;
}
@media (max-width:767px){
  .App{
    padding-left: 0px;
  }
    .user-input{
        max-width: 360px;
        border: none;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: solid 2px rgba(255,255,255,.3);
        color: white;
    }
    .suggestions-list{
        width: 360px;
    }
}
