.background{
    width: 100%;
  position: absolute;
  left: 50%;
  height: 100%;
}
.background-image {
    min-width: 100%;
    position: relative;
    z-index: -1;
    left: -50%;
  }
  .logo{
      width: 40px;
      height: 20px;
  }
  .logo-image{
      width: 20%;
  }